@font-face {
  font-family: "Instrument Serif";
  src: url("/font/InstrumentSerif-Regular.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("/font/Helvetica.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f5f2;
  /* padding: 5rem 2rem; */
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
}

p {
  font-family: "Instrument Serif", sans-serif;
  font-size: clamp(2rem, 5vw, 3.5rem);
  max-width: 700px;
  text-align: center;
  line-height: 1;
}

#section-2 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  container-type: inline-size;
}

#section-2 .img-stack {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  container-type: inline-size; /* Fixed typo */
}

@container (max-width: 800px) {
  #section-2 .img-stack {
    width: 200px;
    height: 150px; /* Adjusted to match 4:3 ratio for consistency */
  }
  #section-2 img {
    width: 200px;
    height: 150px;
  }
}

#section-2 img {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);

  &:nth-child(3) {
    object-position: center;
    transform: translate(-50%, -50%) rotate(5deg);
  }

  &:nth-child(2) {
    object-position: center;
    transform: translate(-50%, -50%) rotate(-5deg);
  }

  &:nth-child(1) {
    object-position: center;
    transform: translate(-50%, -50%) rotate(10deg);
  }
}