---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
---

<PrimaryLayout>
  <section id="section-1">
    <p class="section-text">
      Photography is about noticing — freezing the small moments people often
      walk past
    </p>
  </section>
  <section id="section-2">
    <div class="section-2-wrapper">
      <p class="section-text">It is the practice of paying attention.</p>
      <div class="img-stack">
        <img src="/images/img4.webp" alt="image" />
        <img src="/images/img1.webp" alt="image" />
        <img src="/images/img5.webp" alt="image" />
        <img src="/images/img3.webp" alt="image" />
        <img src="/images/img2.webp" alt="image" />
        <img src="/images/img6.webp" alt="image" />
      </div>
    </div>
  </section>
  <section id="section-3">
    <p class="section-text">
      A way of slowing down, noticing the quiet details, and capturing the small
      pieces of life that usually go unseen.
    </p>
  </section>
  <section id="section-4">
    <p class="section-text">
      In every frame, there’s a story — not always loud, but always present.
    </p>
  </section>
</PrimaryLayout>
