---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
---

<PrimaryLayout>
    <section id="section-1">
      <p class="section-text">
        Photography, the art of noticing - freezing small moments that people
        walk past.
      </p>
    </section>
    <section id="section-2">
      <p class="section-text">It is the practice of paying attention.</p>
      <div class="img-stack">
        <img src="/images/img1.png" alt="image" />
        <img src="/images/img2.png" alt="image" />
        <img src="/images/img3.png" alt="image" />
        <img src="/images/img4.png" alt="image" />
      </div>
    </section>
    <section id="section-3">
      <p class="section-text">
        A way of slowing down, noticing the quiet details, and capturing the
        small pieces of life that usually go unseen.
      </p>
    </section>
    <section id="section-4">
      <p class="section-text">
        In every frame, there’s a story — not always loud, but always present.
      </p>
    </section>
</PrimaryLayout>

